[Desktop Entry]
Comment[en_GB]=
Comment=
Exec=/home/deck/scripts/StickyDesktopPlugin/install.sh from_startup
GenericName[en_GB]=
GenericName=
Icon=dialog-scripts
MimeType=
Name[en_GB]=sticky-desktop-mode.sh
Name=sticky-desktop-mode.sh
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-AutostartScript=true
X-KDE-SubstituteUID=false
X-KDE-Username=
